/Comic.class
/DatosValidacion.class
/EstadoConservacion.class
/Figura.class
/JuegoDeMesa.class
/LineaProductoVenta.class
/Pack.class
/Producto.class
/ProductoSegundaMano.class
/Reseña.class
/TipoJuegoMesa.class
